[req]
prompt = no
distinguished_name = dn
default_md = sha256
default_bits = 4096
req_extensions = v3_req

[ dn ]
countryName = DE
organizationName = HomeLab
localityName = Berlin
commonName=fritz.box

[ v3_ca ]
subjectKeyIdentifier=hash
basicConstraints = critical,CA:true
authorityKeyIdentifier=keyid:always,issuer:always
keyUsage = critical,keyCertSign,cRLSign

[ v3_req ]
subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
nsComment = "OpenSSL Generated Certificate"
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1=home.lab
DNS.2=fritz.box
DNS.3=www.fritz.box
DNS.4=myfritz.box 
DNS.5=www.myfritz.box 
DNS.6=fritz.nas 
DNS.7=www.fritz.nas
